:root {
  --primary-color: #3c5a50;
  --secondary-color: #c07a4d;
  --dark-color: #1d1d1d;
  --light-color: #eeeeee;
}

html {
  font-size: 12px;
}
* {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}
p {
  font-size: 1.2rem;
}
ul {
  list-style: none;
}
a {
  color: var(--dark-color);
  text-decoration: none;
}
.hero-grid,
.about-grid {
  display: grid;
  grid-template-columns: 45% 55%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
button {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  transition: 0.1s ease-in;
  width: 10rem;
  height: 3.5rem;
}

.primary-btn:hover {
  background-color: #355143;
}
.secondary-btn {
  background-color: var(--light-color);
  border: 1px solid var(--secondary-color);
  color: var(--dark-color);
  width: 10rem;
  height: 3.5rem;
}
#secondary-btn-fill {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  width: 10rem;
  height: 3.5rem;
}
#secondary-btn-fill:hover {
  background-color: #bf7140;
}
.btn-fill {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.btn-fill:hover {
  background-color: #bf7140;
}
.heading-span {
  color: var(--primary-color);
}
.category-heading-smll {
  color: var(--secondary-color);
}

/* MOBILE NAV */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;

  display: none;
}
.icon-mobile-nav {
  font-size: 2.5rem;
  color: var(--dark-color);
}

.nav-close {
  display: none;
}
